@mixin reg-label() {
  font-size: 24px;
  line-height: 24px;
}

@mixin reg-field() {
  width: 200px;
  height: 30px;
}

@mixin reg-fontsize() {
  font-size: 20px;
  line-height: 20px;
}

@mixin edit-label() {
  font-size: 20px;
  line-height: 20px;
  padding: 0 20px;
}

@mixin edit-text() {
  width: 300px;
  height: 30px;
}

.header {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 50px;
  font-size: 50px;
}
.form {
  display: flex;
  width: 45%;
  height:100%;
  margin: 0 auto;
  padding: 75px;
  border: 5px solid;
  border-color: rgb(72, 185, 34);
  position: relative;
  .fields {
    .field {
      display: flex;
      padding: 20px 0;
      &__label {
        width: 200px;
        height: 30px;
        .reg-email-label {
          @include reg-label()
        }
        .reg-password-label {
          @include reg-label()
        }
      }
      &__main {
        width: 300px;
        height: 30px;
        .reg-password-field {
          @include reg-field()
        }
        .reg-password-field {
          @include reg-field()
        }
      }
    }
  }
}
input.login {
  width: 80px;
  height: 30px;
  margin-top: 55px;
  background-color: rgb(231, 231, 231);
  font-weight: bold;
  position: absolute;
  right: 40px;
}
.link {
  width: 100vw;
  height: 10vh;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}